# Copy relevant settings into application.properties or set as environment variables.

kasanari.authentication.type=ldap
quarkus.naming.enable-jndi=true

kasanari.authentication.ldap.url=ldap://localhost:389
kasanari.authentication.ldap.bind-principal=cn=admin,dc=kasanari,dc=local
kasanari.authentication.ldap.bind-password=admin
kasanari.authentication.ldap.search-base-dn=ou=users,dc=kasanari,dc=local
kasanari.authentication.ldap.rdn-identifier=uid

kasanari.management.metadata.jdbc-properties."kasanari.jdbc.user"=postgres
kasanari.management.metadata.jdbc-properties."kasanari.jdbc.password"=postgres
kasanari.management.metadata.jdbc-properties."uri"=jdbc:postgresql://localhost:5432/postgres
