# Copy relevant settings into application.properties or set as environment variables.

kasanari.auth.type=ldap

kasanari.auth.ldap.url=ldap://localhost:389
kasanari.auth.ldap.bind-principal=cn=admin,dc=kasanari,dc=local
kasanari.auth.ldap.bind-password=admin
kasanari.auth.ldap.search-base-dn=ou=users,dc=kasanari,dc=local
kasanari.auth.ldap.rdn-identifier=uid

management.metadata.jdbc-properties."kasanari.jdbc.user"=postgres
management.metadata.jdbc-properties."kasanari.jdbc.password"=postgres
management.metadata.jdbc-properties."uri"=jdbc:postgresql://localhost:5432/postgres
